<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <goai_eaa>
            <general>
                <script_url>https://aia.gomage.com/js/eaa.min.js</script_url>
            </general>
        </goai_eaa>
    </default>
</config>
